@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    } 
}

@mixin respond ($breakpoint) {
    @if $breakpoint == medium {
        @media (min-width: 400px) { @content };
    }

    @if $breakpoint == medium-large {
        @media (min-width: 650px) { @content };
    }

    @if $breakpoint == large {
        @media (min-width: 915px) { @content };
    }

   
}