// COLOURS

$color-white: #fff;
$color-black: #333;

$color-grey-1: #ecf0f1;
$color-grey-2: #bdc3c7;
$color-grey-3: #a1a8ac;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;